header {
	display: flex;
	justify-content : space-between;
	border: 2px solid black ;

}



#menu li {
	display: inline;
}

/*mise en place du slider*/

@-webkit-keyframes sliderleft {
	0%  { left: 0%;}
	45% { left: 0%; }
	55% { left: -100%; }
	100% { left: -100%; }
}



#slider figure img {
	width: 50%; /* 50% car deux photo 100/nb de photo */
	float : right; /* aligne les photo horizontalement */
}

#slider figure {
	position: relative;
	width: 200%; /* 100xnb de photo pour affichage taille réelle */

	-webkit-animation: 10s sliderleft infinite;
}

#slider {
	max-width: 900px; /* largeur du slider */
	height: 350px; /* hauteur de slider */
	overflow: hidden; 
	position: absolute;
	border: 2px solid black ;
	left : 5px;
	top : 150px;
}


